/* 7.1 tooltip flash*/
.walkme-icon-image-div{
	animation: flash linear 3s 5 forwards;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	99% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	99% { opacity: 1; }
	100% { opacity: 0; }
}

/* 7.2 tooltip slide*/
.walkme-icon-image-div{
	animation: move 7s 3 ease-in-out forwards;
	left: -23px !important;
	top: 5px !important;
	position: relative !important;
	width: 57px !important;
	height: 35px !important;
	background-size: contain !important;
}

@keyframes move {
  20%, 100% {
    opacity: 1;
    transform: translate(20px, 0);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}